
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Bali Spirit Festival - Bali Travel Time</title>
	<link rel="icon" type="image/png" href="../img/icon/bavel.png">

	<!-- Meta Description -->
	<meta name="description" content="Bali Travel Time">
	<meta name="keywords" content="Travel, Bali, Tourism">
	<meta name="robots" content="index, nofollow">
	<meta name="web_author" content="Yogi Prasertawan">
	<meta name="language" content="Indonesian">

	<!-- Import Icon -->
	<link rel="stylesheet" type="text/css" href="../css/ionicons.min.css">

	<!-- Import Style -->
	<link rel="stylesheet" type="text/css" href="../css/main.css">
	<link rel="stylesheet" type="text/css" href="../css/swipe.min.css">

</head>
<body>

	@await Html.PartialAsync("_PartialHeader")

	@RenderBody()

	@await Html.PartialAsync("_PartialFooter")

	<script type="text/javascript" src="../js/jquery.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function () {
			/* Sidebar Trigger */
			$('.sidebar-toggle').click(function (e) {
				e.preventDefault();
				$('.sidebar').addClass('active');
				$('.sidebar-overlay').css('visibility', 'visible');
			});
			$('.sidebar-overlay, .close').click(function (e) {
				e.preventDefault();
				$('.sidebar').removeClass('active');
				$('.sidebar-overlay').css('visibility', 'hidden');
			});
			$('#openLogin').click(function () {
				$('.login-overlay').fadeIn();
				$('.login-form').css({
					visibility: 'visible',
					opacity: '1'
				});
			});
			$('.close').click(function () {
				$('.login-overlay').fadeOut(1000);
				$('.login-form').css({
					visibility: 'hidden',
					opacity: '0'
				});
			});
		});
	</script>
</body>
</html>